/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-secondary {
  @apply px-3 py-1 text-white font-bold bg-pink-400 hover:bg-pink-600 rounded focus:outline-none cursor-pointer focus:ring-2 focus:ring-pink-400 focus:ring-opacity-75;
}
.btn-secondary.__red {
  @apply bg-red-600 hover:bg-red-800 focus:ring-red-400;
}
.btn-secondary.__indigo {
  @apply bg-indigo-600 hover:bg-indigo-800 focus:ring-indigo-400;
}
.btn-secondary.__green {
  @apply bg-green-600 hover:bg-green-800 focus:ring-green-400;
}
.btn-secondary.__gray {
  @apply bg-gray-500 hover:bg-gray-700 focus:ring-gray-300;
}
